.navbar {
  background-color: #2196f3; /* Blue */
  color: #ede7e7; /* White text on blue background */
  padding: 10px;
  display: flex;
  align-items: center;
 
}

.navbar button {
  border-radius: 5px;
  background-color: #4caf50; /* Green */
  color: #ffffff; /* White text on green button */
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #388e3c; /* Darker green on hover */
}

.navbar .logout-button {
  background-color: #f44336; /* Red for logout button */
  margin-left: auto; /* Pushes logout button to the end */
}

.user-table {
  width: 100%;
  margin:30px auto;
  border: #090100 solid 1px;
  
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2; /* Light gray background for table headers */
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row colors for better readability */
}

.user-table tr:hover {
  background-color: #ddd; /* Gray on hover for better interactivity */
}
